* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

/* global.css */
@font-face {
  font-family: 'Calibri';
  src: url('/fonts/calibri-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url('/fonts/calibri-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Calibri';
  src: url('/fonts/calibri-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url('/fonts/calibri-bold-italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
