.pageContainer {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.contentContainer {
    min-width: 50%;
    max-width: 50vw;
    margin-top: 10vh;
    max-height: 80vh;
}
