.pageContainer {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
}

.contentContainer {
    width: 100vw;
    max-height: 90vh;
}
