:root {
    --zero-orange: hsl(11, 100%, 60%);
    --zero-orange-light: hsla(11, 100%, 60%, 0.6);
    --zero-red: #e65e8c;
    --zero-red-darker: #fd4482;
    --zero-red-light: #f4d0dc;
    --zero-red-hover: #e27197;
    --landing-background: #fffef6;
    --landing-blur: rgba(255, 254, 246, 0.8);
    --zero-blue: #47AFE6;
    --zero-blue-old: #3DBCF8;
    --green-color: #0DA2C6;
    --green-light: #0DA2C6a1;
    --blue-color: #2196F3;
    --blue-light: #2195f3a1;
    --grey-color: #eee;
    --shadow-color: rgba(117, 116, 116, 0.856);
    --grey-light: #eee;
    --color-danger: #df1b41;
    --twitter-blue: #00acee;
}